<html> <head>

    <title> Language App by Kamal Sir </title>
     <style>
    * {font-size:60px; } body { background-color:lightyellow; }
    </style>
    </head> 
    <body> <center>
         <h1> Language App </h1>
    <form > 
        <input type="text" name="na" placeholder="enter name"/>
        <br><br>
        <input type="checkbox" name="py" /> Python 
        <input type="checkbox" name="is" /> JavaScript 
        <input type="checkbox" name="¡a" /> Java
        <br><br>
    <input type="submit"/>
 </form> 
    {{m}}
    </center>
 </body>
    </html>