<html>
    <head>
        <title>Movie Review </title>
        <style>
            * { font-size:40px; } 
            body { background-color:lightyellow; } 
            textarea { resize:None; }
        </style>
    </head>
    <body>
        <center>
            <h1> Movie Review App </h1>

<form> <input type="text" name="mn"
placeholder="enter movie name" required />
<br><br>
<textarea name="rv" placeholder="enter movie review" rows=5
cols=30 required></textarea> <br><br>

<input type="submit" /> </form>
{{m}}
        </center>
    </body>
</html>