<html>
    <head>
        <title>Even Odd App</title>
        <style>
            *{font-size: 40px;}
            body{background-color: aquamarine;}
        </style>
    </head>
    <body>
        <center>
            <h1>EVEN ODD APP</h1>
            <form> <input type="number" name="num" placeholder="enter integer" required/>
                <br><br>
                <input type="submit" value="Find Even/Odd"/>
                
                </form>
                {{m}}
        </center>
    </body>
</html>