<html>
    <head>
        <title>Profile app </title>
        <style>
            * { font-size:40px; } 
            body { background-color:lightyellow; } 
            textarea { resize:None; }
        </style>
    </head>
    <body>
        <center>
            <h1> Profile App </h1>

<form method="POST"> 
    <input type="text" name="na"
placeholder="enter your name" required />
<br><br>
<label >Education</label>
<br>
<input type="radio" name="e" value="g" checked=true /> Graduate 
<input type="radio" name="e" value="pg" /> Post Graduate
<br><br>
<label> Languages </label>
 <br>
<input type="checkbox" name="python" value="python" />Python
<input type="checkbox" name="js" value="js" /> JavaScript
<br>
<input type="checkbox" name="java" value="java" /> Java <input type="checkbox" name="c" value="c" /> C
<br><br>
<br>
<input type="submit" /> </form>
{{m}}
        </center>
    </body>
</html>